/* '============== General Styles ==============' */

*{
    margin: 0;
}

@font-face{
    font-family: Railway;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

@font-face{
    font-family: Komikax;
    src: url(./fonts/KOMIKAX_.ttf);
}

body{
    font-family: Railway, 'Arial Narrow', Arial, sans-serif;
    background-image: url(./img/water-1330252_640.jpg);
    background-position: center;
    background-size: cover;
}

h2{
    text-transform: capitalize;
    padding:16px 16px;
}

h3{
    padding-bottom: 8px;
}

.d-none{
    display: none !important;
}


/* ================= Header =================== */
header{ 
    background: rgb(254, 214, 0);
    display: flex;
    align-items: center;
    font-family: Komikax, Railway, sans-serif;
}

.headerLogo{
    height: 150px;
    margin-bottom: 16px;
}

.h1Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  h1{
    margin-left: -64px;
    color: rgb(90, 57, 173);
    font-size: 72px;
    font-weight: 900;
  }

  .searchContainer{
    display: flex;
    gap: 8px;
  }

  input{
    padding-left: 8px;
    width: 245px;
    border: none;
    border-radius: 5px;
    background:rgb(255, 231, 0);
    color: rgb(90, 57, 173);
    cursor: pointer;
  }


/* ================ kleine Karte =================== */

.content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 4px;
    margin-bottom: 16px;
}

.pokedex{
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 4px;
    color: white;
    min-height: 25vh;
    width: 160px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokedex:hover{
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.8;
}

/* ================ große Karte =================== */

.bigContent{
    display: flex;
    flex-direction: row;  
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .2);
}

.cotentcontainer{ 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow{
height: 48px;
width: 48px;
}

.bigpokedex{
    min-height: 30vh;
    min-width: 400px;
    margin-left: 16px;
    margin-right: 16px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(232, 175, 26);
    color: white;
    border-radius: 10px;
}

.typecontainer{
    margin-bottom: 16px;
}

.bigImageContainer{
    z-index: 999;
}

.big-pokemon-picture{    
height:100px

}

span{
    border: solid 1px transparent;
    border-radius: 8px;
    margin-bottom: 4px;
    padding: 4px 8px;
    background: rgba(0, 0, 0, .1);
}

.infoContainer{
    min-width: 400px;
    margin-left: 16px;
    margin-right: 16px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 100px;
    margin-top: -48px;
}

p{
    text-align: center;
    font-family: Railway, Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-bottom: 4px;
    color: black;
}

.base-experience{
    margin-top: 50px;
    margin-bottom: 4px;
    text-align: center;
    font-family: Railway, Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.canvas{
    height: 400px !important;
    width: 400px !important;
}


/* ===================== Button Container ===================== */

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-bottom: 16px;
    padding: 16px 32px;
    background: yellow;
    color: blue;
    border: none;
    border-radius: 10px;
    font-weight: 900;
}

/* ========== Footer ============ */

footer{
    height: 10vh;
    background: rgb(254, 214, 0);
}


/* ============== responsive============= */

@media(max-width: 550px) {

    h1{
        font-size: 56px;
        margin-left: -24px;
    }

    .headerLogo{
        height: 100px;
    }

    input{
        margin-bottom: 8px;
    }

    .pokedex{
        width: 200px;
    }

    .bigContent {
        flex-direction: column;
        background: rgba(0, 0, 0, .8);
    }

    .arrow{
            margin-top: 8px;
            margin-bottom: 8px;
            background: white;
    }

}

@media(max-width: 420px) {

    header{

        flex-direction: column;
    }

    h1{
        font-size: 44px;
        margin-left: -24px;
    }

    .headerLogo{
        height: 150px;
        margin-bottom: 0;
    }

    .bigpokedex{
        min-width: 300px;
    }

    .infoContainer{
        min-width: 300px;
    }
 }
